/* line 8, additional_css.scss */
.noMargin {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 14, additional_css.scss */
.noPadding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 20, additional_css.scss */
.bouton {
  white-space: normal;
  font-size: 25px;
  width: 100%;
  font-family: 'Raleway', Verdana, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #527BBD;
  padding: 15px 0px 15px 0px;
}

/* line 29, additional_css.scss */
.text, a, h1, h2, h3, h4, h5, h6, p, div, span, th, td, tr {
  font-family: 'Raleway', Verdana, Arial, sans-serif;
}

/* line 32, additional_css.scss */
.dark_bleu {
  color: #002151;
}

/* line 35, additional_css.scss */
.light_bleu {
  color: #527BBD;
}

/* line 38, additional_css.scss */
.black {
  color: #161616;
}

/* line 41, additional_css.scss */
.grey {
  color: #F9F9F9;
}

/* line 44, additional_css.scss */
.back_grey {
  background-color: #F9F9F9;
}

/* line 47, additional_css.scss */
.dark_grey {
  color: #808080;
}

/* line 50, additional_css.scss */
.white {
  color: #FFFFFF;
}

/* line 53, additional_css.scss */
.back_white {
  background-color: #FFFFFF;
}

/* line 56, additional_css.scss */
.center {
  text-align: center;
}

/* line 59, additional_css.scss */
.justify {
  text-align: justify;
}

/* line 62, additional_css.scss */
.left {
  text-align: left;
}

/* line 65, additional_css.scss */
.right {
  text-align: right;
}

/* line 68, additional_css.scss */
a, button, a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 72, additional_css.scss */
.tutoReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* line 75, additional_css.scss */
.footer {
  background-color: #002151;
}
